@import '../css/bootstrap/bootstrap-grid.min.css';
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@font-face {
    font-family: 'SF Pro';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/sf-pro/SF-Pro.ttf');
}

$blue : #0068f9;

/*!
 * iCare about my Data v1.0
 * Copyright 2023 iCare about my Data
 */
html,body{
    margin:0;
    padding:0;
    height:100%;
}
*{
    box-sizing:border-box;
}
body{
    overflow-x:hidden;
    background-image:url('../img/home/wallpaper.png');
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    font-family:"SF Pro","sans-serif";
}
#back-home-btn{
    position:absolute;
    bottom:20px;
    left:50%;
    transform:translateX(-50%);
    display:block;
    padding:10px 15px;
    border-radius:99px;
    background-color:blue;
    color:#fff;
    cursor:pointer;
    z-index:999999;
    &.hidden{
        display:hidden !important;
    }
}
.app{
    background-color: purple;
    width: 100%;
    height: 100%;
    position: fixed;
    &.welcome{
        position:relative;
        background-image:linear-gradient(to right top,#0092ff,#007efe,#0068f9,#0050f2,#0033e7);
        background-size: 400% 400%;
        animation: gradient 5s ease infinite;
        color:#fff;
        @keyframes gradient {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        }
        .background{
          position: absolute;
          display: block;
          top: 0px;
          left: 0px;
          z-index: 0;
        }
        .welcome-container{
            position:absolute;
            z-index:1;
            width:80%;
            height:fit-content;
            padding:30px;
            border-radius:20px;
            background: rgba(255, 255, 255, 0.2);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            backdrop-filter: blur(4px);
            -webkit-backdrop-filter: blur(4px);
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.18);
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);
            .welcome-text{
                display:block;
                width:fit-content;
                margin:0 auto;
                &.welcome-bienvenue{
                    font-size:35px;
                    margin-bottom:10px;
                }
                &.welcome-title{
                    font-size:80px;
                }
            }
            .row{
                margin-top:50px;
                .col{
                    i{
                        font-size:120px;
                        display:block;
                        width:fit-content;
                        margin:0 auto;
                    }
                }
            }
            .welcome-subtext{
                margin-top:20px;
                text-align:center;
                display:block;
                font-size:25px;
                &.sub{
                    margin-top:30px;
                }
            }
            #welcome-start{
                color:#fff;
                background-color:$blue;
                font-size:25px;
                padding:12px 27px;
                border:3px solid $blue;
                border-radius:99px;
                cursor:pointer;
                margin:50px auto 0 auto;
                width:fit-content;
                display:block;
                transition:border-color .3s ease-in-out,background-color .3s ease-in-out;
                &:hover{
                    border-color:#fff;
                    background-color:unset;
                }
            }
        }
    }
    &.intro-video{
        background-color:#000;
    }
    &#intro-video{
        position:fixed;
        top:0;
        bottom:0;
    }
    &.home{
        background-color:unset !important;
        .fixed-bar{
            position:fixed;
            height:110px;
            bottom:50px;
            left:50%;
            transform:translateX(-50%);
            background-color:rgba(255,255,255,.5);
            backdrop-filter:saturate(180%) blur(20px);
            border-radius:30px;
            opacity:0;
            transition:all 1s ease-in-out;
        }
        .home-content{
            position:fixed;
            display:flex;
            height:calc(100% - 160px);
            width:100%;
            justify-content:center;
            align-items:center;
            transform:scale(3);
            opacity:0;
            transition:all .5s ease-in-out;
            .wrapper{
                width:1170px;
            }
        }
        .app-icon{
            width:80px;
            height:80px;
            background-image:url('../img/home/icons/app-store.png');
            background-position:center;
            background-repeat:no-repeat;
            background-size:cover;
            border-radius:20px;
            &.tiktok{
                background-image:url('../img/home/icons/tiktok.png');
            }
            &.facebook{
                background-image:url('../img/home/icons/facebook.png');
            }
            &.instagram{
                background-image:url('../img/home/icons/instagram.png');
            }
            &.mail{
                background-image:url('../img/home/icons/mail.png');
            }
            &.maps{
                background-image:url('../img/home/icons/maps.png');
            }
            &.messages{
                background-image:url('../img/home/icons/messages.png');
            }
            &.meteo{
                background-image:url('../img/home/icons/meteo.png');
            }
            &.nordvpn{
                background-image:url('../img/home/icons/nordvpn.png');
            }
            &.safari{
                background-image:url('../img/home/icons/safari.png');
            }
            &.whatsapp{
                background-image:url('../img/home/icons/whatsapp.png');
            }
            &.intro-video{
                background-image:url('../img/home/icons/video.png');
            }
        }
        .app-title{
            display:block;
            margin-top:5px;
            color:#fff;
        }
        .widget{
            width:100%;
            height:170px;
            background-color:black;
            border-radius:20px;
            overflow:hidden;
            &.widget-2{
                height:364px;
            }
        }
    }
    &.maps{
        .sidepanel{
            position:absolute;
            z-index:99999;
            top:20px;
            right:20px;
            bottom:20px;
            width:20%;
            background-color:#fff;
            box-shadow:0 0 10px rgba(0,0,0,.3);
            border-radius:10px;
            padding:20px;
        }
    }
}